# getting images
requests==2.31.0
# PMTiles
pmtiles
# cache
sqlitedict==2.1.0
# map geometry
geotiler==0.14.7
#parsing pmtile tiles
mapbox-vector-tile==2.0.1
# drawing
pycairo==1.23.0
#just to show images on screen
pillow==9.4.0

#for web server example
bottle